<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADL data</title>
</head>
<body>
    <h1> ADL data </h1>    
    <table>
        <tr>
            <% for ( i in heads) { %>
                <th> <%= heads[i] %> </th>
            <%} %>
        </tr>
    </table>
</body>
</html>