<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO test</title>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="WSockClient.js" type="text/javascript"></script>
    <script>

        const mes = {
            shId : `AB001309`
        };        

        function appendElement(innerTextStr)
        {
            const para = document.createElement("p");
            para.innerText = innerTextStr;
            const div = document.getElementById("board");
            div.appendChild(para);
        }

        const host = `http://155.230.186.66:8000/`;
        const adlSock = new WSockTestClient(host, `ADL_NOTIFIER`);
        adlSock.initConnection( mes, `ADL connect`, appendElement  );
        adlSock.initUpdate( `update_adl`, appendElement );
        adlSock.initDisconnect(`ADL disconnect`, appendElement);

        const adlmvSock = new WSockTestClient(host, `ADLMV_NOTIFIER`);
        adlmvSock.initConnection( mes, `ADLMV connect`, appendElement  );
        adlmvSock.initUpdate( `update_ADLMV`, appendElement );
        adlmvSock.initDisconnect(`ADLMV disconnect`, appendElement);
        
        const adlenvSock = new WSockTestClient(host, `ADLENV_NOTIFIER`);
        adlenvSock.initConnection( mes, `ADLENV connect`, appendElement  );
        adlenvSock.initUpdate( `update_ADLENV`, appendElement );
        adlenvSock.initDisconnect(`ADLENV disconnect`, appendElement);
        
        const adleventSock = new WSockTestClient(host, `ADLEVENT_NOTIFIER`);
        adleventSock.initConnection( mes, `ADLEVENT connect`, appendElement  );
        adleventSock.initUpdate( `update_ADLEVENT`, appendElement );
        adleventSock.initDisconnect(`ADLEVENT disconnect`, appendElement);
        
      </script>
</head>
<body>
    <div id="board">Notification logs</div>
</body>
</html>